* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(224, 255, 255);
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.login-form {
  padding: 30px;
  border-radius: 5px;
}
.form {
  background: lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.form input,
.form textarea {
  padding: 10px;
  border: 0;
  outline: 0;
}
.form button {
  background: rgb(141, 110, 170);
  border: 0;
  outline: 0;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 20px;
  margin: 0 0 10px 0;
  cursor: pointer;
}
.login-form h3 {
  background-color: rgb(141, 110, 170);
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.login-form p {
  padding: 10px;
}

.form textarea {
  grid-column: 1/2;
}
.error {
  color: rgb(192, 33, 33);
  padding: 0 20px;
  font-weight: 800;
}
@media (min-width: 600px) {
  .form {
    grid-template-columns: 2fr 2fr;
    padding: 30px;
  }
  .form input,
  .form textarea {
    width: 100%;
    outline: 0;
  }
}

@media (max-width: 500px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form input,
  .form textarea {
    width: 100%;
    outline: 0;
  }
}
